
  body {
    font: 15px/18px 'Open Sans', sans-serif;
    color:#888;
    background-color: #FFF;
  }
  a { 
    color:black; 
  }
  
  .content {
    width: 1000px;
    margin: 0 auto;
    
  }
  .header {
    padding: 20px 0px;
    /*margin-left:-20px;*/
    border-bottom: solid 1px #444;
    color: #222;
  }
    h1 {
      color: #000;
      display: inline;
      font-size: 40px;
      line-height: 55px;
      font-weight: 300;
      letter-spacing: 2px;
      margin-bottom:10px;
      margin-left: -3px;
    }
    
	#entries {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	

  .entry {
    /* border-bottom: solid 1px #eee; */
    padding: 50px 20px;
  }


  @media (max-width:700px) {
	#entries {
		grid-template-columns:1fr;
	}
	
	.entry, .awards, .header {
		/* border-bottom: solid 1px #eee; */
		width:90vw;
		margin-left:5vw;
	}
	
	.header .fade {
		width: 90vw !important;
	}
}

  /* @media (min-width:501px) {
    .entry {
      width:calc(50% - 10px);
      float:left;
      margin-left:0;
    }
  } */

  /* .entry.left {
    padding-right:10px;
  }

  .entry.right {
    padding-left:10px;
  } */


    .banner {
      opacity: 1.0;
      margin:20px 0;
    }
    .banner a { 
      text-decoration: none;
      display: inline-block;
      line-height: 0;
    }
    .image {
      /* height:300px; */
      height:auto;
      position:relative;
      overflow:hidden;
      opacity: 1;
    }

    @media (min-width:501px) {
      .image {
        height:300px;
      }
    }

    h2 {
      color: #000;
      display: inline;
      font-size: 1.4em;
      /* // text-transform: uppercase; */
      font-weight: 300;
      line-height: 1.5em;
    }
    
    p { color: #444; }

    .description {
      color: #444;
      margin-top: 10px;
      width: 53%;
    }
    .note {
      float: right;
      width:45%;
      opacity: 0.8;
    }
    .fade {
      color: #666;
      font-size: 14px;
      font-weight: 300;
    }
    .header .fade {
      display: inline-block;
      
      
      width: 70%;

      margin-bottom: 1em;

      font-size: 16px;
      line-height:1.3em;
    }
    

    
    
  /* .entry:last-child { 
    border-bottom: solid 1px #444; 
    margin-bottom:10px; 
  } */

  .entry img,
  .entry video {
    width:100%;
    height:100%;
    display:inline;
  }

  .entry.minor img {
    width:480px;
    height: 300px;
  }

  
  .split div { 
    width: 50%;
    display: inline-block;
    margin-right: -2px;
  }
  /*.split div:last-child {
     float:right;
  }*/
  .split div:first-child { text-align: left; }
  .split div:last-child  { text-align: right; }
  .split img {
    width:498px;
  } 
  .split img:first { padding-right:5px; vertical-align: bottom;}


  /* add .shadow to image link to add gentle shading */
  .shadow:before {
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
      -webkit-box-shadow: inset 0px 0px 40px 0px rgba(0, 0, 0, .05);
      box-shadow: inset 0px 0px 40px 0px rgba(0, 0, 0, .05);
  }

  .header.print .print,
  .header.web .web {
    color:#000;
    font-weight:800;
  }
  .header .print, .header .web { 
    display:inline-block; 
    cursor:hand;
    cursor:pointer;
  }


  .entry, .image {  
    -webkit-transition: height 1s, padding 1s, opacity 1s; 
    -moz-transition: height 1s, padding 1s, opacity 1s;
    -ms-transition: height 1s, padding 1s, opacity 1s;
    -o-transition: height 1s, padding 1s, opacity 1s;
    transition: height 1s, padding 1s, opacity 1s;
  }

  .split .image.web:after,
  .split .image.print:after {
    position:absolute;
    bottom:10px;
    right:10px;
    padding:6px;
    
    color: #222;
    font: normal 13px/13px 'Open Sans';

    padding: 6px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #e2e2e2;
    border-bottom-color: #e0e0e0;
    border-radius: 3px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1), inset -1px -1px 1px 0 rgba(0, 0, 0, 0.02);
    background: rgba(255, 255, 255, 0.98);
  }

  .split .image.web:after { content: "Web"; }

  .print .entry.web,
  .web   .entry.print { 
    opacity:.2;
    padding: 10px 0;
  }

  .print .entry.web   .image,
  .web   .entry.print .image { 
    height:0px;
    padding-bottom: 0;
  }

  .print .entry .image.web,
  .web   .entry .image.print {
    opacity: .1;
  } 

  #more {
    font-style: italic;
    font-size: 12px;
    text-decoration:none;
    margin-left: 1em;
    opacity: 0.4;
  }
  #more:hover { text-decoration: underline;}


  .awards {
    border-bottom: solid 1px #444;
    padding-bottom: 3em;
    margin-bottom: 4em;
  }
  .awards h1 {
    margin-top: 0.8em;
    display: inline-block;
    margin-left: 0;
  }
  .awards h2 {
    margin-top: 2em;
    margin-bottom:0;
    display:inline-block;
  }
  .awards b {
    margin-right: 1em;
  }
