<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

<title>Shadab Nazmi</title>

<style type="text/css">
  @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
  @import url(nazmi.css);
  @import url(main.css);
</style>
</head>


<body>
<script src="scripts/jquery-1.7.2.min.js"></script>	
<script src="scripts/nazmi.js"></script>

  <div class="content">
    <style>
    .reveal { display:none; }
    .revealed .reveal { display: inline; }
    .revealed #more { display:none; }
    </style>
    <div class="header" id="header">
        <h1>Shadab Nazmi</h1>
        <br/>
        <span class="fade">
          <p>I'm working as a senior data and graphics journalist at BBC News, based in New Delhi. I collect, analyse and visualise data for storytelling in six Indian and four South Asian languages.</p>
          
          <p>Previously with India Today Digital, Scroll.in and India Legal magazine.</p>
    
          <p>Feel free to contact me via email at <em>shadabnazmi@gmail.com</em> or send a direct message on Twitter <em>@shadabnazmi</em></em>.</p>
      	</span> 
    </div>
    
    <script>
    document.getElementById('more').onclick = function(){ document.getElementById('header').className = "header revealed" };
    </script>
    
    <div id="entries" class="entries">
			<div class="entry web">
				<h2 class="title">
					Gyanwapi: The long standing dispute 
				</h2>
				<br/>
				<span class="fade">
					BBC News Hindi, Dec 2023
				</span> 
				
				<div class="banner">
					<div class="image web ">
						<a class="" target="_blank" href="https://www.bloomberg.com/graphics/2021-myanmar-military-business/">  
							<img src="1.png">
						</a>
					</div>
					</div>
			</div>
			
			
			<div class="entry web">
				<h2 class="title">
					Passing the bills
				</h2>
				<br/>
				<span class="fade">
					BBC News, Dec 2023
				</span> 
				
				<div class="banner">
					<div class="image web ">
						<a class="" target="_blank" href="https://twitter.com/shadabnazmi/status/1738144165018620170">  
							<img src="https://pbs.twimg.com/media/GB8gl6JboAA1puN?format=png&name=medium">
						</a>
					</div>
					</div>
			</div>
            
			<div class="entry web">
				<h2 class="title">
					India Election 2019
				</h2>
				<br/>
				<span class="fade">
					BBC News, May 2019
				</span> 
				
				<div class="banner">
					<div class="image web ">
						<a class="" target="_blank" href="https://www.bbc.com/news/world-asia-india-48315659">  
							<img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/D8D6/production/_107101555__107091340_ls_2019_hemi-nc.png.webp">
						</a>
					</div>
					</div>
			</div>
			
			<div class="entry web">
				<h2 class="title">
					Military kit now with the Taliban
				</h2>
				<br/>
				<span class="fade">
					BBC News, Aug 2021
				</span> 
				
				<div class="banner">
					<div class="image web ">
						<a class="" target="_blank" href="https://www.bbc.com/news/world-asia-58356045">  
							<img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/C12A/production/_120305494_termez_aiport_uzbekistan_v2_2x640-nc.png.webp">
						</a>
					</div>
					</div>
			</div>
            
            <div class="entry web">
                <h2 class="title">
					Covid-19 in India: Cases, deaths and oxygen supply
                </h2>
                <br/>
                <span class="fade">
                    BBC News, Apr 2021
                </span> 
                
                <div class="banner">
                    <div class="image web ">
                        <a class="" target="_blank" href="https://www.bbc.com/news/world-asia-india-56891016">  
                            <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/8FD9/production/_118252863_optimised-india_cases_deaths_29apr-nc.png.webp">
                        </a>
                    </div>
                    </div>
            </div>

            <div class="entry web">
                <h2 class="title">
                What's driving India's 100,000 Covid-19 deaths?
                </h2>
                <br/>
                <span class="fade">
                    BBC News, Oct 2020
                </span> 
                
                <div class="banner">
                    <div class="image web ">
                        <a class="" target="_blank" href="https://www.bbc.com/news/world-asia-india-54352222">  
                            <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/115DB/production/_114713117_daily_deaths-nc.png.webp">
                        </a>
                    </div>
                    </div>
                </div>

                <div class="entry web">
                    <h2 class="title">
                    How has price rise affected you?
                    </h2>
                    <br/>
                    <span class="fade">
                        BBC News, Jan 2023
                    </span> 
                    
                    <div class="banner">
                        <div class="image web ">
                            <a class="" target="_blank" href="https://news.test.files.bbci.co.uk/include/vjsthasia/1801-personal-inflation-calculator/develop/english/app/test--full-width.html">  
                              <img src="2.png">
                            </a>
                        </div>
                        </div>
                    </div>
	    
	     <div class="entry web">
                    <h2 class="title">
                    Where did millions set aside after Delhi gang rape go?
                    </h2>
                    <br/>
                    <span class="fade">
                        BBC News, Feb 2021
                    </span> 
                    
                    <div class="banner">
                        <div class="image web ">
                            <a class="" target="_blank" href="https://www.bbc.com/news/world-asia-india-54434160">  
                              <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/FF86/production/_116841456_gettyimages-1228921618.jpg.webp">
                            </a>
                        </div>
                        </div>
                    </div>
       
           

    <div class="awards" id="awards">
      <h2>Interviews and conversations</h2>
      <p><b>No Country Left Behind? The Indian Covid-19 catastrophe: The Center for Investigative <a href ="https://tcij.org/summer-conference-event/cijsummer-india-covid-19-discussion/">Journalism</a></p>
      <p><b>Early career tips for journalists and students: <a href = "https://journalists.org/resources/early-career-tips-from-our-2019-mj-bear-fellows/">Online News Association</a>, New Orleans, 2019</p>
      

      <h2>Awards & Recognitions</h2>
      <p>Posit PBC Opportunity Scholar [Formely known as R Studio], Chicago, United States [September, 2023]</p>
      <p> National Press Foundation <a href = "https://nationalpress.org/newsfeed/npf-selects-22-journalists-for-2022-international-trade-fellowship-in-singapore/">fellow</a>, Singapore [August, 2022]
</p>
      <p> Speaker and <a href = "https://journalists.org/programs/mj-bear-fellowship/">fellow</a>, Online News Association, New Orleans, United States [September, 2019]
      <p>Woods Hole Oceanographic Institute <a href = "https://www.whoi.edu/press-room/journalism-fellowship/past-fellows/">Fellow</a>, Boston, United States [September, 2017]
      <p>Young Data Journalist of the Award <a href = "https://medium.com/data-journalism-awards/the-data-journalism-awards-2017-shortlist-6697cbac334f">nominee</a>, Data Journalism Awards [2017]
      <p>Winner, All India Environment Journalism Award for the <a href = "https://www.indialegallive.com/in-pictures/computer-graveyard/">photo essay</a> on electronic waste disposal in Delhi [2015]
      </p>


    
    
    </div>
  </div>
<h3>See my <a href="https://drive.google.com/file/d/1Reuo8VzEUOhEsJG2_KAzuAOpGo2xuYU9/view?usp=share_link">resume</a></h3><p>Theme from Jin Wu</p>
</body>

</html>
