<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

<title>Shadab Nazmi</title>

<style type="text/css">
  @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
  @import url(nazmi.css);
  @import url(main.css);
</style>
</head>


<body>
<script src="scripts/jquery-1.7.2.min.js"></script>	
<script src="scripts/nazmi.js"></script>

  <div class="content">
    <style>
    .reveal { display:none; }
    .revealed .reveal { display: inline; }
    .revealed #more { display:none; }
    </style>
    <div class="header" id="header">
        <h1>Shadab Nazmi</h1>
        <br/>
        <span class="fade">
          <p>I'm working as a senior data and graphics journalist at BBC News, based in New Delhi. I collect, analyse and visualise data for storytelling in six Indian and four South Asian languages.</p>
          
          <p>Previously with India Today Digital, Scroll.in and India Legal magazine.</p>
    
          <p>Feel free to contact me via email at <em>shadabnazmi@gmail.com</em> or send a direct message on Twitter <em>@shadabnazmi</em></em>.</p>
      	</span> 
    </div>
    
    <script>
    document.getElementById('more').onclick = function(){ document.getElementById('header').className = "header revealed" };
    </script>
    
    <div id="entries" class="entries">
			<div class="entry web">
				<h2 class="title">
					Gyanwapi: The long standing dispute 
				</h2>
				<br/>
				<span class="fade">
					BBC News Hindi, Dec 2023
				</span> 
				
				<div class="banner">
					<div class="image web ">
						<a class="" target="_blank" href="https://www.bloomberg.com/graphics/2021-myanmar-military-business/">  
							<img src="1.png">
						</a>
					</div>
					</div>
			</div>
			
			
			<div class="entry web">
				<h2 class="title">
					Passing the bills
				</h2>
				<br/>
				<span class="fade">
					BBC News, Dec 2023
				</span> 
				
				<div class="banner">
					<div class="image web ">
						<a class="" target="_blank" href="https://twitter.com/shadabnazmi/status/1738144165018620170">  
							<img src="https://pbs.twimg.com/media/GB8gl6JboAA1puN?format=png&name=medium">
						</a>
					</div>
					</div>
			</div>
            
			<div class="entry web">
				<h2 class="title">
					India Election 2019
				</h2>
				<br/>
				<span class="fade">
					BBC News, May 2019
				</span> 
				
				<div class="banner">
					<div class="image web ">
						<a class="" target="_blank" href="https://www.bbc.com/news/world-asia-india-48315659">  
							<img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/D8D6/production/_107101555__107091340_ls_2019_hemi-nc.png.webp">
						</a>
					</div>
					</div>
			</div>
			
			<div class="entry web">
				<h2 class="title">
					How an Online Scandal Put Jack Ma’s Media World in the Spotlight
				</h2>
				<br/>
				<span class="fade">
					Bloomberg News, February 2021
				</span> 
				
				<div class="banner">
					<div class="image web ">
						<a class="" target="_blank" href="https://www.bloomberg.com/graphics/2021-jack-ma-media-investments/">  
							<img src="thumbnails/jackma.png">
						</a>
					</div>
					</div>
			</div>
            
            <div class="entry web">
                <h2 class="title">
					Who Gets to Breathe Clean Air in New Delhi?
                </h2>
                <br/>
                <span class="fade">
                    The New York Times, December 2020
                </span> 
                
                <div class="banner">
                    <div class="image web ">
                        <a class="" target="_blank" href="https://www.nytimes.com/interactive/2020/12/17/world/asia/india-pollution-inequality.html">  
                            <img src="thumbnails/delhi.png">
                        </a>
                    </div>
                    </div>
            </div>

            <div class="entry web">
                <h2 class="title">
                Battle in the Himalayas
                </h2>
                <br/>
                <span class="fade">
                    The New York Times, July 2020
                </span> 
                
                <div class="banner">
                    <div class="image web ">
                        <a class="" target="_blank" href="https://www.nytimes.com/interactive/2020/07/18/world/asia/china-india-border-conflict.html">  
                            <video inline muted autoplay loop src="thumbnails/himalayas.mp4">
                        </a>
                    </div>
                    </div>
                </div>

                <div class="entry web">
                    <h2 class="title">
                    How the Virus Got Out
                    </h2>
                    <br/>
                    <span class="fade">
                        The New York Times, March 2020
                    </span> 
                    
                    <div class="banner">
                        <div class="image web ">
                            <a class="" target="_blank" href="https://www.nytimes.com/interactive/2020/03/22/world/coronavirus-spread.html">  
                                <video inline muted autoplay loop src="thumbnails/how-virus-got-out.mp4">
                            </a>
                        </div>
                        </div>
                    </div>
       
            <div class="entry web">
                <h2 class="title">
                120,000 Missing Deaths:Tracking the True Toll of the Coronavirus Outbreak
                </h2>
                <br/>
                <span class="fade">
                    The New York Times, first published in April 2020
                </span> 
                
                <div class="banner">
                    <div class="image web ">
                        <a class="" target="_blank" href="https://www.nytimes.com/interactive/2020/04/21/world/coronavirus-missing-deaths.html">  
                            <img src="thumbnails/excess-death.png">
                        </a>
                    </div>
                    </div>
            </div>

                <div class="entry web">
                    <h2 class="title">
                    How the Coronavirus Compares With 100 Years of Deadly Events
                    </h2>
                    <br/>
                    <span class="fade">
                    The New York Times, June 2020
                    </span> 
                
                    <div class="banner">
                        <div class="image web ">
                            <a class="" target="_blank" href="https://www.nytimes.com/interactive/2020/06/10/world/coronavirus-history.html">  
                                <img src="thumbnails/excess-death-city.png">
                            </a>
                        </div>
                    </div>
            </div>
                

            <div class="entry web">
                <h2 class="title">
                Italy’s Virus Shutdown Came Too Late. What Happens Now?
                </h2>
                <br/>
                <span class="fade">
                    The New York Times, April 2020
                </span> 
                
                <div class="banner">
                    <div class="image web ">
                        <a class="" target="_blank" href="https://www.nytimes.com/interactive/2020/04/05/world/europe/italy-coronavirus-lockdown-reopen.html">  
                            <img src="thumbnails/italy.png">
                        </a>
                    </div>
                    </div>
            </div>
            

                <div class="entry web">
                    <h2 class="title">
                    Coronavirus Could Overwhelm U.S. Without Urgent Action, Estimates Say
                    </h2>
                    <br/>
                    <span class="fade">
                    The New York Times, March 2020
                    </span> 
                
                    <div class="banner">
                        <div class="image web ">
                            <a class="" target="_blank" href="https://www.nytimes.com/interactive/2020/03/20/us/coronavirus-model-us-outbreak.html">  
                                <img src="thumbnails/us-model.png">
                            </a>
                        </div>
                    </div>
            </div>
                

            <div class="entry web">
                <h2 class="title">
                How Bad Will theCoronavirus Outbreak Get? Here Are 6 Key Factors
                </h2>
                <br/>
                <span class="fade">
                    The New York Times, first published in Feb. 2020
                </span> 
                
                <div class="banner">
                    <div class="image web ">
                        <a class="" target="_blank" href="https://www.nytimes.com/interactive/2020/world/asia/china-coronavirus-contain.html">  
                            <img src="thumbnails/virus-explainer.png">
                        </a>
                    </div>
                    </div>
            </div>

            <div class="entry web">
                    <br/><br/>
                    <h2 class="title">
                    Coronavirus Map: Tracking the Global Outbreak
                    </h2>
                    <br/>
                    <span class="fade">
                    The New York Times, first published in Jan. 2020 
                    </span> 
                
                    <div class="banner">
                        <div class="image web ">
                            <a class="" target="_blank" href="https://www.nytimes.com/interactive/2020/world/coronavirus-maps.html">  
                                <img src="thumbnails/virus-tracker.png">
                            </a>
                        </div>
                    </div>
                </div>
                
            <div class="entry web">
                <h2 class="title">
                    Killer Slime, Dead Birds, an Expunged Map: The Dirty Secrets of European Farm Subsidies
                    </h2>
                    <br/>
                    <span class="fade">
                        The New York Times, Dec. 2019
                    </span> 
                    
                    <div class="banner">
                        <div class="image web ">
                            <a class="" target="_blank" href="https://www.nytimes.com/interactive/2019/12/25/world/europe/farms-environment.html">  
                                <img src="thumbnails/baltic.png">
                            </a>
                        </div>
                    </div>
        </div>

        
            
        <div class="entry web">
                <h2 class="title">
                    Tiny Apartments and Punishing Work Hours: The Economic Roots of Hong Kong’s Protests
                    </h2>
                    <br/>
                    <span class="fade">
                    The New York Times, July 2019
                    </span> 
                
                    <div class="banner">
                        <div class="image web ">
                            <a class="" target="_blank" href="https://www.nytimes.com/interactive/2019/07/22/world/asia/hong-kong-housing-inequality.html">  
                                <img src="thumbnails/hk-housing.jpg">
                            </a>
                        </div>
                    </div>
            </div>  

            <div class="entry web">
                <h2 class="title">
                A Bird’s-Eye View of How Protesters Have Flooded Hong Kong Streets
                </h2>
                <br/>
                <span class="fade">
                The New York Times, June 2019
                </span> 
            
                <div class="banner">
                    <div class="image web ">
                        <a class="" target="_blank" href="https://www.nytimes.com/interactive/2019/06/20/world/asia/hong-kong-protest-size.html">  
                            <img src="thumbnails/hk-bird-eye.jpg">
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="entry web">
                <h2 class="title">
                    India Election 2019: A Simple Guide to the World’s Largest Vote
                    </h2>
                    <br/>
                    <span class="fade">
                    The New York Times, May 2019
                    </span> 
                
                    <div class="banner">
                        <div class="image web ">
                            <a class="" target="_blank" href="https://www.nytimes.com/interactive/2019/world/asia/india-election.html">  
                                <img src="thumbnails/india-election.jpg">
                            </a>
                        </div>
                    </div>
            </div>
                

            <div class="entry web">
                <h2 class="title">
                ISIS Lost Its Last Territory in Syria. But the Attacks Continue.
                </h2>
                <br/>
                <span class="fade">
                The New York Times, March 2019
                </span> 
            
                <div class="banner">
                    <div class="image web ">
                        <a class="" target="_blank" href="https://www.nytimes.com/interactive/2019/03/23/world/middleeast/isis-syria-defeated.html">  
                            <video inline muted autoplay loop src="thumbnails/isis.mov">
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="entry web">
                <h2 class="title">
                    From 8,600 Flights to Zero: Grounding the Boeing 737 Max 8
                    </h2>
                    <br/>
                    <span class="fade">
                    The New York Times, March 2019
                    </span> 
                
                    <div class="banner">
                        <div class="image web ">
                            <a class="" target="_blank" href="https://www.nytimes.com/interactive/2019/03/11/world/boeing-737-max-which-airlines.html">  
                                <video inline muted autoplay loop src="thumbnails/boeing.mov">
                            </a>
                        </div>
                    </div>
            </div>
                

            <div class="entry web">
                <h2 class="title">
                    Going Grey
                    </h2>
                    <br/>
                    <span class="fade">
                    Reuters
                    </span> 
                
                    <div class="banner">
                        <div class="image web ">
                            <a class="" target="_blank" href="https://graphics.reuters.com/JAPAN-AGING/010091PB2LH/index.html">  
                                <img src="thumbnails/aging-japan.png">
                            </a>
                        </div>
                    </div>
            </div>

                <div class="entry web">
                    <h2 class="title">
                    How Kerala’s dams failed to prevent catastrophe
                    </h2>
                    <br/>
                    <span class="fade">
                    Reuters, Oct. 2018
                    </span> 
                
                    <div class="banner">
                        <div class="image web ">
                            <a class="" target="_blank" href="https://graphics.reuters.com/INDIA-FLOOD/010080MF18N/index.html">  
                                <img src="thumbnails/kerala.png">
                            </a>
                        </div>
                    </div>
            </div>
                

            <div class="entry web">
                <h2 class="title">
                    Destruction in Palu
                    </h2>
                    <br/>
                    <span class="fade">
                    Reuters, Oct. 2018
                    </span> 
                
                    <div class="banner">
                        <div class="image web ">
                            <a class="" target="_blank" href="https://graphics.reuters.com/INDONESIA-QUAKE/010080MZ19R/index.html">  
                                <img src="thumbnails/palu.png">
                            </a>
                        </div>
                    </div>
            </div>

                <div class="entry web">
                    <h2 class="title">
                    The cancer eating away at farms
                    </h2>
                    <br/>
                    <span class="fade">
                    Reuters, Aug. 2018
                    </span> 
                
                    <div class="banner">
                        <div class="image web ">
                            <a class="" target="_blank" href="https://graphics.reuters.com/AUSTRALIA-DROUGHT/010071MC33G/index.html">  
                                <img src="thumbnails/oz-drought.png">
                            </a>
                        </div>
                    </div>
            </div>
                

            <div class="entry web">
                <h2 class="title">
                    Lucky 13
                    </h2>
                    <br/>
                    <span class="fade">
                    Reuters, July 2018
                    </span> 
                
                    <div class="banner">
                        <div class="image web ">
                            <a class="" target="_blank" href="https://graphics.reuters.com/THAILAND-ACCIDENT-CAVE/0100711G258/index.html">  
                                <img src="thumbnails/thai-cave.png">
                            </a>
                        </div>
                    </div>
            </div>

                <div class="entry web">
                    <h2 class="title">
                        Tracking expansion in the South China Sea
                    </h2>
                    <br/>
                    <span class="fade">
                    Reuters, May 2018
                    </span> 
                
                    <div class="banner">
                        <div class="image web ">
                            <a class="" target="_blank" href="https://graphics.reuters.com/CHINA-SOUTHCHINASEA-BUILDING/010070760H9/index.html">  
                                <img src="thumbnails/scs.png">
                            </a>
                        </div>
                    </div>
            </div>
                

            <div class="entry web">
                <h2 class="title">
                    How fishing fleets comb the ocean
                    </h2>
                    <br/>
                    <span class="fade">
                    Reuters, Feb. 2018
                    </span> 
                
                    <div class="banner">
                        <div class="image web ">
                            <a class="" target="_blank" href="https://graphics.reuters.com/GLOBAL-FISHING/010061031ZS/index.html">  
                                <img src="thumbnails/fishing.png">
                            </a>
                        </div>
                    </div>
            </div>

                <div class="entry web">
                    <h2 class="title">
                        Oil spilled at sea
                    </h2>
                    <br/>
                    <span class="fade">
                    Reuters, Jan. 2018
                    </span> 
                
                    <div class="banner">
                        <div class="image web ">
                            <a class="" target="_blank" href="https://graphics.reuters.com/OIL-SPILLS/010060SL1GQ/index.html">  
                                <img src="thumbnails/oil-spill.png">
                            </a>
                        </div>
                    </div>
            </div>

            <div class="entry web">
                <h2 class="title">How the Sanchi's oil could spread</h2>
                <br/>
                
                <span class="fade">Reuters, Jan. 2018</span> 
                
                <div class="banner">
                    <div class="image web ">
                        <a class="" target="_blank" href="http://fingfx.thomsonreuters.com/gfx/rngs/CHINA-SHIPPING-SPILL/010060NC166/index.html">  
                            <img src="thumbnails/sanchi.png">
                        </a>
                    </div>
                </div>
            </div>

            <div class="entry web">
                <h2 class="title">The boys from Davao</h2>
                <br/>
                <span class="fade">Reuters, Dec. 2017</span> 
            
                <div class="banner">
                    <div class="image web ">
                        <a class="" target="_blank" href="http://fingfx.thomsonreuters.com/gfx/rngs/PHILIPPINES-DRUGS/01006028044/index.html">  
                            <img src="thumbnails/davao.png">
                        </a>
                    </div>
                </div>
            </div>

            <div class="entry web">
                <h2 class="title">Operation Kill</h2>
                <br/>
                
                <span class="fade">Reuters, Nov.2017</span> 
                
                <div class="banner">
                    <div class="image web ">
                        <a class="" target="_blank" href="http://fingfx.thomsonreuters.com/gfx/rngs/PHILIPPINES-DRUGWAR/010051VF46X/index.html">  
                            <img src="thumbnails/operation-kill.png">
                        </a>
                    </div>
                </div>
            </div>

            <div class="entry web">
                <h2 class="title">Mass Exodus: Scale of the Rohingya Crisis</h2>
                <br/>
                <span class="fade">Reuters, Sept. 2017</span> 
            
                <div class="banner">
                    <div class="image web ">
                        <a class="" target="_blank" href="http://fingfx.thomsonreuters.com/gfx/rngs/MYANMAR-ROHINGYA/010050XD232/index.html">  
                            <img src="thumbnails/exodus.png">
                        </a>
                    </div>
                </div>
            </div>
                
            <div class="entry web">
                <h2 class="title">A new dawn
                    in inter-Korean relations</h2>
                <br/>
                
                <span class="fade">Reuters, July 2017</span> 
                
                <div class="banner">
                    <div class="image web ">
                        <a class="" target="_blank" href="http://fingfx.thomsonreuters.com/gfx/rngs/INTERKOREA-RELATIONS/010041MD3JB/index.html">  
                            <img src="thumbnails/inter-korea.png">
                        </a>
                    </div>
                </div>
            </div>

            <div class="entry web">
                <h2 class="title">Dead on Arrival</h2>
                <br/>
                <span class="fade">Reuters, June 2017</span> 
            
                <div class="banner">
                    <div class="image web ">
                        <a class="" target="_blank" href="http://fingfx.thomsonreuters.com/gfx/rngs/PHILIPPINES-DRUGWAR/010041TN3Z8/index.html">  
                            <img src="thumbnails/doa.png">
                        </a>
                    </div>
                </div>
            </div>

            <div class="entry web">
                <h2 class="title">
                <br/>
                Motion graphics explaining Japan's monetary policy
                </h2>
                <br/>
                <span class="fade">
                Reuters, 2017
                </span> 
            
                <div class="banner">
                    <div class="image web ">
                        <a class="" target="_blank" href="http://fingfx.thomsonreuters.com/gfx/rngs/JAPAN-ECONOMY/010020BK0T2/index.html">  
                            <video inline muted autoplay loop src="thumbnails/boj.mov">
                        </a>
                    </div>
                </div>
            </div>

            
    </div>

    <div class="awards" id="awards">
      <h1>Awards & recognitions</h1>
      
      <br/>
      
      <h2>2021</h2>
      <p><b>Society for News Design 42 </b>Best in show/Gold for Story Page Design: International/Gold for Infographics: Environment & Science/Story Page Design: Environment & Science/ &mdash; Who gets to breathe clean air in New Delhi</p>
      <p><b>Society for News Design 42 </b>Silver for Infographics: International  &mdash; How the Virus Got Out</p>
      <br/>

      <h2>2020</h2>
      <p><b>NYT Publisher's Award </b> How the Virus Got Out</p>
      <p><b>NYT Publisher's Award </b> Coronavirus Map: Tracking the Global Outbreak</p>
      <p><b>Society for News Design 41 </b> Bronze &mdash; A Bird’s-Eye View of How Protesters Have Flooded Hong Kong Streets</p>
      <p><b>Malofiej 28 </b> Humans Best Graphic Awards/Gold for Features Print &mdash; A Bird’s-Eye View of How Protesters Have Flooded Hong Kong Streets</p>
      <p><b>SOPA </b> Excellence in Information Graphics &mdash; A Bird’s-Eye View of How Protesters Have Flooded Hong Kong Streets</p>
      <br/>

      <h2>2019</h2>
      <p><b>SOPA </b> Excellence in Journalistic Innovation &mdash; Mining data from the sky</p>
      <p><b>SOPA </b> Excellence in Information Graphics &mdash; The Sanchi oil spill</p>
      <p><b>Malofiej 27</b> Gold &mdash; Tracking China’s Muslim Gulag
      <p><b>Malofiej 27</b> Silver &mdash; Destruction in Palu
      <p><b>Malofiej 27</b> Bronze &mdash; A remote home for the Rohingya
      <p><b>Malofiej 27</b> Bronze &mdash; How Kerala's dams failed to prevent catastrophe
      <p><b>Malofiej 27</b> Bronze &mdash; How the Sanchi’s oil could spread
      <p><b>Malofiej 27</b> Bronze &mdash; One year past no end in sight
      <p><b>Malofiej 27</b> Bronze &mdash; Tragedy on Lake Toba
      <p><b>Society for News Design 40 </b> Silver &mdash; Lucky 13</p>
      <p><b>Society for News Design 40 </b> Bronze &mdash; Concrete and coral: Tracking expansion in the South China Sea</p>
      <p><b>Society for News Design 40 </b> Bronze &mdash; Australia’s drought: The cancer eating away at farms</p>
      <p><b>Society for News Design 40 </b> Bronze &mdash; Tracking China’s Muslim Gulag</p>
      <p><b>Society for News Design 40 </b> Bronze &mdash; A drifting inferno</p>
      <p><b>Society for News Design 40 </b> Bronze &mdash; Devastation in Lombok</p>
      <p><b>Society for News Design 40 </b> Bronze &mdash; A remote home for the Rohingya</p>
      <p><b>Society for News Design 40 </b> Bronze &mdash; Destruction in Palu</p>
      <p><b>Society for News Design 40 </b> Bronze &mdash; Tragedy on Lake Tob</p>
      <p><b>Society for News Design 40 </b> Bronze &mdash; Japan flooding: Death and destruction</p>
      <p><b>Society for News Design 40 </b> Bronze &mdash; Oil spilled at sea: Putting the Sanchi disaster into perspective</p>
      <p><b>Society for News Design 40 </b> Bronze &mdash; Casting a wider net: How fishing fleets comb the ocean</p>


      <h2>2018</h2>
      <p><b>SOPA </b> Excellence in Journalistic Innovation &mdash; The Rohingya Crisis</p>
      <p><b>SOPA </b> Excellence in Information Graphics &mdash; Duterte’s War on Drugs</p>
      <p><b>Malofiej 26</b> Silver &mdash; Mass Exodus
    
      <br/>
    
    
    </div>
  </div>

</body>

</html>
